<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  <div>
    <input type="text" id="username" placeholder="Username">
  </div>
  <div>
    <input type="password" id="password" placeholder="Password">
  </div>
  <div>
    <button id="loginSession">Login with Session</button>
  </div>
  <div>
    <button id="loginJwt">Login with JWT</button>
  </div>

  <div>
    <a href="/register">Register here</a>
  </div>

  <script src="/js/login.js"></script>
</body>
</html>
